<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add a new course</h1>
    <form action="/add" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br>
        <button type="submit">Add</button>
    </form>
    <hr>
    <h2>Courses</h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.date_added.strftime('%b %d %Y %I:%M%p') }}</td>
            <td><a href="{{ url_for('delete_course', id=course.id) }}">remove</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
