body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f6;
}

.header-container {
    display: flexbox;
    height: 30%;
    text-align: left;
    margin-bottom: 20px;
    background-color: #33599e;
}

img {
    width: 250px;
    margin-left: 170px;
    fill: #ecf0f6;
}

img.logo {
    width: 250px; 
    margin-left: 170px;   
    filter: invert(100%) brightness(0) saturate(100%); 
}

.login-form {
    display: flex;
    position: absolute;
    font-family: verdana;
    left: 58%;
    top: 15px;
}

.logo {
    filter: invert(100%);
    
} 

