{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Register</title>
</head>
<body>
    <div class="background-image">
        <div class="form-container">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="error">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit">{{ button_text }}</button>
            </form>
        </div>
        
    </div>
</body>
</html>
