<html>
    <head>
 
    </head>
 
    <body>
        <h1>Customer Data:</h1>
        
       <form action = "/formdata" method="POST">
            <label>First Name:</label><br>
            <input type = "text" name="number"><br>

            <label>Last Name:</label><br>
            <input type = "text" name="number"><br>
 
            <label>Email:</label><br>
            <input type = "text" name="number"><br>
 
            <label>Country:</label><br>
            <input type="text" name="country"><br>
 
            <input type="submit" value="Submit">
       </form>
    </body>
</html>