a{
    margin-right: 100px;
    font-size: larger;
    
}
h1{
    text-align: center;
    display:inline-block;
    margin-bottom:40px;
   
}
.head{
    display:inline-block;
    vertical-align: middle;
    margin-inline:auto;
    margin-left: 30px;
 
}
.logo{
    display: inline-block;
    margin-top:20px;
    width: 200px;
    height: auto;
    vertical-align: middle;
}
 
.nav{
text-align: center;
width:max-content;

}
.title{
    text-align: center;
    font-size: larger;
    border:1px white;
    background-color:silver;
    margin-top:20px;
}
h3{
    text-align: center;
}
.container{
display: flex;
margin:auto;
margin-left:60px;
}
 
.c1{
    background-color: #CF9FFF;
    border:solid black;
    border-radius: 10px;
    width:300px;
    display: inline-block;
    height:400px;
    margin-right: 25px;
    margin-left:150px;
    margin-top:30px;
    line-height: 60px;
}
.c2{
    background-color: pink;
    border:solid black;
    border-radius: 10px;
    width:300px;
    display: inline-block;
    height:400px;
    margin-right: 25px;
    margin-top:30px;
    padding-left:5px;
}
.c3{
    background-color:  #C3B1E1 ;
    border:solid black;
    border-radius: 10px;
    width:300px;
    display: inline-block;
    height:400px;
    margin-right: 25px;
    padding-right:10px;
    margin-top:30px;
    line-height: 50px;
}

.c1, .c2, .c3 {
    background-color: #CF9FFF;
    border: solid black;
    border-radius: 10px;
    width: 30%; 
    height: 600px;
    line-height: 1.5; 
    padding: 20px;
    box-sizing: border-box; 
}
 
.c2 {
    background-color: pink;
}
 
.c3 {
    background-color: #C3B1E1;
}