<h1>Add a new course</h1>
<form method="POST">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <label for="description">Description:</label>
    <textarea name="description" required></textarea>
    <button type="submit">Add</button>
</form>

<h2>Courses</h2>
<table>
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.date_added }}</td>
            <td><a href="{% url 'confirm_delete' course.id %}">remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
