<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action ='/addpost' method="POST">
        {% csrf_token %} 
        <label>Post:</label>
        <input type="text" name="post"> <br>
        
        <input type="submit" value="Submit!">
    </form>
    
    {% for post in posts %}
        <h2> Post: {{post.post}}</h2>
        <p>Timestamp: {{post.created_date}}</p>
    {% endfor %}
</body>
</html>