<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Food</title>
</head>
<body>
    <h1>Favorite Food: {{ food }}</h1>
    <img src="https://imgs.search.brave.com/zsqm05iIbzmPcOqNUBiJRv7mEvFTvahQQPRAOx1ODDU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2l4c3RhdGlj/LmNvbS9tZWRpYS83/OGQ5NDRfOTJhMGYx/NDMxNGNkNGU3NWFl/YmJhOGUyMTZmNjMy/Y2N-bXYyLmpwZy92/MS9maXQvd180ODAs/aF8zNjEscV85MC83/OGQ5NDRfOTJhMGYx/NDMxNGNkNGU3NWFl/YmJhOGUyMTZmNjMy/Y2N-bXYyLmpwZw">
</body>
</html>
