<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Destination</title>
</head>
<body>
    <h1>Vacation Destination: {{ vacation }}</h1>

    <img src="https://imgs.search.brave.com/bPSg4okHTFrnt-fBv_egSis4fHlqpEqNr1RWiSSdPzc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNTg1/NDg3NDA0L3Bob3Rv/L2JvcmEtYm9yYS10/YWhpdGktbXQtb3Rl/bWFudS5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9QnUyT25Y/R1hWaXBfX1E1dFlV/Qk5QRS14N09WeUE2/STlXR280TEhERnoy/dz0">
</body>
</html>
